@{
    ViewData["Title"] = "About";
}


    <h2 style="color:#800000" >Tuition & Fees </h2>


The University of Louisiana at Lafayette is the most affordable university in Louisiana, according to the U.S. Department of Education’s College Affordability and Transparency List. Here, we pride ourselves with providing exceptional undergraduate and graduate education where you will get the most value for your money.

<p> What you pay in tuition fees each semester is based on a few factors: </p>
<ul>
    <li>
        Whether you're an undergraduate or graduate student;
    </li>
    <li>
        How many credit hours you're taking that semester; and
    </li>
    <li>
        Whether you're an in-state, or out-of-state resident, or an international student.
    </li>
</ul>

<h4  style="color:#800000"> How much will my Tuition be?</h4>
<ul>
    <li> If you have already registered, check your statement of accounts for your balances. </li>
    <li> If you have not registered, click on Current fee schedules to estimate your tuition. </li>
</ul>
<h4  style="color:#800000"> What fees are included in "Tuition and Fees"? </h4>
<p>
    Tuition and related fees are based on regulations adopted by the Board of Supervisors for the University of Louisiana System and the student body through regular elections.  None of these fees are optional.  For a complete list of these fees  log on to the <a href="https://ulink.louisiana.edu">Ulink Portal</a>.  Once you are logged in to the ULINK Portal, Click on Statement of Account, Select the Term you wish to view and click submit. The Statement of Account will show the category of fees which includes Tuition and Fees. Click on the Other Fees link (shown in red ) and it will bring up your specific detail of charges for the Tuition and Fees Category.
</p>

<h4  style="color:#800000"> What fees are NOT included in "Tuition and Fees"? </h4>
<ul>
    <li>
        First-time freshman are required to pay a $7.50 Initial Enrollment Fee.
    </li>
    <li>
        $540.00 supplemental insurance fee is assessed to all international students on F-1, J-1, or  any other non-immigrant status visa.
    </li>
    <li>
        A $20.00 International Service Fee is assessed to all International students.
    </li>
    <li>
        A late registration fee of $50.00 (non-refundable) is assessed to all students who do not  adhere to the fee policy stated in the schedule of classes.
    </li>
    <li>
        Course and lab fees that are based on specific courses registered for during the semester.
    </li>
    <li>
        Housing and meal plans
    </li>
    <li> When is my tuition due? </li>
</ul>
Learn more about tuition payment deadlines and payment plans.

Am I required to live on campus?

Whether or not you live on campus as a first-time freshman is determined by where you live now. Learn more about housing requirements.