@{
    ViewData["Title"] = "Contact";
}
<center>
    <h2> Conatct Us</h2>
    <h3> We are always here to answer you</h3>
    <address>
        Further questions/queries could be answered by University of Louisiana at Lafayette
        <br />
        Student Cashiers Center
        <br />
        Student Union Room 135
        <br />
        PO Box 44444
        <br />
        Lafayette, LA 70504
        <br />
        (337) 482-6385 | bursar@louisiana.edu
    </address>

    </p>
    You can also contact me for further queries by sending an email to the address below.
    </address>

    <address>
        <strong>Support:</strong> <a href="mailto:jayasri.sunkara1@gmail.com">jayasri.sunkara1@gmail.com</a><br />
    </address>
</center>